
.Process {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    margin-bottom: 10%;
    max-width: 1194px;
    margin-top: 5%;
}

.Process .Text{
    text-align: left;
}

.Process h1{
    text-align: center;
    color: gray;
    font-weight: bold;
}

.Process .Text .Intro{
    padding-bottom: 10%;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 1px solid rgba(151, 151, 151, 0.192);
}

.Process p {
    padding: 2% 5%;
    font-size: 1.2em;
    color: gray;
    line-height: 1.4em;
}

.Process .Service p {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}