.Process {
    height: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.Process .Text{
    margin-top: 5%;
    display: inline-block;
    width: 80%;
    text-align: left;
}

.Process .Text .Intro{
    padding-bottom: 10%;
    font-size: 1.4em;
    text-align: center;
}

.Process .Text p:first-child{
    text-align: center;
    font-size: 1.5em;
}

.Process p {
    padding: 2% 5%;
    font-size: 1.2em;
    color: gray;
    line-height: 1.4em;
}