.GalleryContent {
    max-width: 100vw;
    flex: 70%;
    overflow: auto;
}

.GalleryContent img {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.subHeading {
    position: fixed;
    right: 30px;
    background-color: white;
}

.GalleryContent p {
    font-size: 1em;
    text-transform: uppercase;
    color: gray;
    width: 167px;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    float: left;
    display: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.GalleryContent p:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    .GalleryContent p {
        display: inline-block;
        font-weight: 600;
        font-size: 1em;
    }
}
