.ul {
  list-style-type: none;
  padding: 0;
}

.ul li {
  display: inline-block;
  text-align: center;
}

.navMenu {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  display: flex;
  box-shadow: 2px 4px 8px 0px rgba(192, 192, 192, 0.185);
  justify-content: center;
  align-items: center; 
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background-color: #ffffff;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.logodiv{
  margin-right: auto;
}

.logo {
  position: relative;
  height: 100px;
  left: -20px;
  top: 0px;
  transition: 0.4s;
}

.NavLink {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 8px;
  border-bottom: 2px solid transparent;
}

.navMenu p {
  color: gray;
  font-size: 20px;
}

.NavLink:hover {
  cursor: pointer;
  color: black;
  border-bottom: 2px solid #e8c208;
}

.ActiveNavLink {
  border-bottom: 2px solid #e8c208;
}

.iconBar {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px){
  .iconBar {
    display: block;
    padding-right: 7%;
  }

  .logo {
    height: 80px;
  }
  .iconBar p {
    font-size: 20px;
  }

  .ul{
    display: none;
  }

  .ul.responsive {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: .3s;
    background-color: white;
  }

  .navMenu{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  li.responsive.ul{
    display: block;
    background-color: white;
    z-index: 100;
    width: 100%;
    text-align: center;
  }

 .NavLink.responsive {
    padding: 0;
  }
}
