.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul li {
  display: inline-block;
  text-align: center;
}

.navMenu {
    height: 100px;
}

.logo {
    position: absolute;
    height: 100px;
    left: -30px;
    top: 0px;
}

.NavLink{
    text-decoration: none;
    color: gray;
    line-height: 100px;
  font-size: 20px;
  text-transform: uppercase;
  transition:0.5s;
  padding: 8px;
  border-bottom: 2px solid transparent;
}

.NavLink:hover{
    cursor: pointer;
    color: black;
    border-bottom: 2px solid gold;
}