.ul {
  list-style-type: none;
  padding: 0;
}

.ul li {
  display: inline-block;
  text-align: center;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background-color: #ffffff;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.logodiv{
  margin-right: auto;
}

.logo {
  position: relative;
  height: 150px;
  left: -50px;
  top: 0px;
  transition: 0.4s;
}

.NavLink {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 8px;
  border-bottom: 2px solid transparent;
}

.navMenu p {
  color: gray;
  font-size: 20px;
}

.NavLink:hover {
  cursor: pointer;
  color: black;
  border-bottom: 2px solid #e8c208;
}

.iconBar {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 650px){
  .iconBar {
    display: block;
  }

  .ul{
    display: none;
  }

  .ul.responsive {
    display: block;
    width: 100%;
    height: 100%;
    transition: .3s;
    background-color: white;
  }

  .navMenu{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  li.responsive.ul{
    display: block;
    background-color: white;
    z-index: 100;
    width: 100%;
    text-align: center;
  }

 .NavLink.responsive {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
  }
}