.ServiceChunk{
    text-align: left;
    display: flex;
    border-top: 1px solid rgba(128, 127, 127, 0.164);
    min-height: fit-content;
    padding: 2em 0;
}

.ServiceChunk .LeftDiv {
    flex: 70%;
    min-height: fit-content;
}

.ServiceChunk .LeftDiv p {
    margin: 0;
    padding: 0;
}
.ServiceChunk h2{
    margin-top: 0;
    font-weight: 600;
}

.ServiceChunk .RightDiv {
    flex: 30%;
    display: flex;

    padding: 2em 0;
}

.ServiceChunk .RightDiv img{
    height: 100%;
}

.ServiceChunk .RightDiv .ImageWrapper {
    width: 17vw;
    height: 17vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    border: 3px solid #f6c348;
    box-shadow:
    2px 4px 8px 0px hsla(0, 0%, 0%, 0.418);
    box-sizing: border-box;
    margin: 0 auto;
}

@media only screen and (max-width: 800px){
    .ServiceChunk {
        display: block;
    }

    .ServiceChunk .LeftDiv {
        height: fit-content;
    }

    .ServiceChunk {
        padding-bottom: 0;
    }

}

