.Home {
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 1194px;
}

.LeftHeader {
  padding: 10% 10%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  color: gray;
  font-size: 1.4em;
  min-height: calc(100vh - 70px);
}

.Divider{
  position: relative;
  content: " ";
  width: 100%;
  height: 1.4em;
  font-size: 1.6em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
  background-color: #f6c248;
  color: rgba(0, 0, 0, 0.651);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

.Home .ValuesSection {
  padding: 5% 0;
}
.Home .Button {
  margin-top: 30px;
  display: inline-block;
  font-weight: 500;
  position: relative;
  font-size: 0.7em;
  background-color: #f6c348;
  border-color: #f6c348;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
  min-width: 148px;
  padding: 0px 16px;
  line-height: 45px;
  text-align: center;
  border: 2px solid white;
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
}

.Home .Button:after {
  background: white;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    box-sizing: border-box;
}

.Home .Button:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Home .Button:hover {
  background-color: #f3ae0d;
}

.Home .NavLink {
  text-decoration: none;
  color: rgb(70, 70, 70);
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .LeftHeader {
    padding: 10% 10%;
    font-size: 16px;
    height: min-content;
  }
}
