.Contact {
    position: fixed;
    display: flex;
    padding: 0 5%;
    text-align: left;
    margin-top: 0;
    margin: 5% auto;
    max-width: 1194px;
    top: 45%;
    -moz-transform:  translateY(-50%);
    -webkit-transform:  translateY(-50%);
    transform:  translateY(-50%);
}

.Contact .LeftDiv {
    flex: 55%;
    margin-right: 8%;
    font-size: 1.2em;
}

.Contact .LeftDiv h1{
    color: gray;
    font-weight: 600;
}

.Contact .RightDiv{
    flex: 45%;
    width: 45%;
}

.Contact p{
    color: gray;
}

.Contact .RightDiv input {
    width: 100%;
    font-size: 1.2em;
    padding: 0px 16px;
    height: 56px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    box-sizing: border-box;
    border-radius: 4px;
}

.Contact input:focus::placeholder {
    color: transparent;
  }

  .Contact input:focus {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  }

  .Contact textarea:focus {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  }

.Contact textarea:focus::placeholder {
    color: transparent;
}

.Contact .RightDiv textarea {
    border-radius: 5px;
    font-family: 'open sans';
    width: 100%;
    font-size: 1.2em;
    padding: 7px;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.514);
    box-sizing: border-box;
}

.Contact ::placeholder {
    opacity: 0.2;
}

.focusBg {
    transition: 0.3s; 
    width: 100%;
}

.Contact .RightDiv button {
    margin-top: 30px;
    display: inline-block;
    font-weight: 300;
    position: relative;
    font-size: 1em;
    background-color: #f6c348;
    border-color: #f6c348;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.11);
    min-width: 148px;
    line-height: 45px;
    text-align: center;
    border: 0px solid white;
    box-sizing: content-box;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 0;
  }
  
  .Contact .RightDiv button:after {
    background: white;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      box-sizing: border-box;
  }
  
  .Contact .RightDiv button:hover:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .Contact .RightDiv button:hover {
    background-color: #f3ae0d;
  }

@media only screen and (max-width: 800px){
    .Contact {
        display: block;
        margin-top: 0;
        padding-top: 0;
        position: relative;
        top: 0;
    -moz-transform:  none;
    -webkit-transform:  none;
    transform:  none;
    }

    .Contact .LeftDiv{
        padding-top: 0;
    }

    .Contact .RightDiv {
        padding-top: 10%;
        width: 100%;
    }
}