.Contact {
    display: flex;
    padding: 0 5%;
    text-align: left;
    margin: 5% auto;
    max-width: 1194px;
}

.Contact .LeftDiv {
    flex: 55%;
    margin-right: 8%;
    font-size: 1.2em;
}

.Contact .LeftDiv h1{
    color: gray;
    font-weight: bold;
}

.Contact .RightDiv{
    flex: 45%;
    width: 45%;
}

.Contact p{
    color: gray;
}

.Contact .RightDiv input {
    width: 100%;
    font-size: 1.3em;
    padding: 7px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    box-sizing: border-box;
}

.Contact .RightDiv textarea {
    width: 100%;
    font-size: 1.3em;
    padding: 7px;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.514);
    box-sizing: border-box;
}

.Contact .RightDiv button {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 10px 15px;
    width: wrap;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(124, 124, 124);
    color: gray;
}

.Contact .RightDiv button:hover {
    background-color: gold;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .Contact {
        display: block;
        margin-top: 0;
        padding-top: 0;
    }

    .Contact .LeftDiv{
        padding-top: 0;
    }

    .Contact .RightDiv {
        padding-top: 10%;
        width: 100%;
    }
}