.SubHeading {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
    color: gray;
    margin: 0 30px;
    padding: 5px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.336);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}