.SubHeading {
    font-weight: 600;
    text-transform: capitalize;
    color: gray;
    margin: 0 30px;
    padding: 5px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.192);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}