.GalleryNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.GalleryNav li {
  text-align: center;
  font-size: 25px;
  padding: 2%;
  margin-bottom: 8%;
  color: gray;
  text-transform: uppercase;
}

.GalleryNav li:hover {
  cursor: pointer;
  background-color: #e8c208;
  color: black;
}

.Active {
  background-color: #e8c208;
  color: black;
}

.GalleryNav {
  margin-top: 20px;
  height: 100%;
  flex: 20%;
  padding-top: 50px;
  overflow: auto;
}

@media only screen and (max-width: 800px){
  .GalleryNav li {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
  }
}