.GalleryNav p {
  text-align: center;
  font-weight: 600;
  font-size: 1.4em;
  padding: 2%;
  margin-bottom: 5%;
  color: gray;
  text-transform: uppercase;
}

.GalleryNav .collapsible p {
  font-size: 0.9em;
  margin-bottom: 0;
  padding: 0;
}

.GalleryNav .collapsible {
  display: none;
}

.GalleryNav .collapsible.open {
  display: inherit;
}

.GalleryNav p:hover {
  cursor: pointer;
  background-color: #f6c348;
  color: black;
}

.Active {
  background-color: #f6c348;
  color: black;
}

.GalleryNav {
  margin-top: 20px;
  height: 100%;
  flex: 10%;
  max-width: 250px;
  padding-top: 50px;
  overflow: auto;
}

@media only screen and (max-width: 800px){
  .GalleryNav p {
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  }

  .GalleryNav {
    position: relative;
    flex: 0;
    background-color: white;
    border-bottom: 1px solid white;
  }

  .GalleryNav.browse {
    position: absolute;
    padding: 0;
    height: auto;
    width: 167px;
    top: 13px;
    right: 30px;
    background-color: white;
  }

}