.GalleryNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.GalleryNav li {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: gray;
  text-transform: uppercase;
}

.GalleryNav li:hover {
  cursor: pointer;
  background-color: #e8c208;
  color: black;
}

.Active {
  background-color: #e8c208;
  color: black;
}

.GalleryNav {
  position: fixed;
  top: 120px;
  left: 0px;
  height: 100%;
  width: 250px;
  padding-top: 50px;
}
