.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}

.ImageWrap {
  flex: 300px;
  margin: 5px;
  transition: 0.3s;
  overflow: hidden;
    max-height: 220px;
    position: relative;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.452);
}

.Wrapper {
  padding: 2em 15px;
  background-color: rgba(179, 179, 179, 0.11);
}

.Wrapper h1{
  padding-top: 0;
  margin-top: 0;
  font-weight: 600;
}

.ImageWrap p{
  margin: 0;
  position: absolute;
  padding-top: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: visible;
  background: rgba(0, 0, 0, 0.26);
  opacity: 1;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 25px;

  /* transition effect. not necessary */
  transition: background .5s, opacity .5s, visibility .2s;
}

.ImageWrap:hover p {
  background: rgba(0, 0, 0, 0.589);
}

.ImageWrap:hover {
  cursor: pointer;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.452);
  transform: translateY(-5px);
}

@media (max-width: 900px) {
  .Gallery {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

/* @media (max-width: 450px) {
  .Gallery {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
} */
