.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 15px;
  background-color: rgba(212, 212, 212, 0.137);
}

.image {
  width: 120px;
  height: auto;
}

.ImageWrap {
  flex: 70px;
  margin: 5px;
  position: relative;
  transition: 0.5s;
}

.ImageWrap p{
  color: gray;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 0;
}


.ImageWrap .Link{
  text-decoration: none;
}

.ImageWrap:hover {
  transform: scale(1.2);
}

.ImageWrap:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .Gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .ImageWrap p{
    font-size: 1em;
  }

  .image {
    width: 70px;
    height: auto;
  }

}

/* @media (max-width: 450px) {
  .Gallery {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
} */
