.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer li {
  display: inline-block;
  text-align: center;
  height: 100%;
}

.footer img {
  height: 80%;
  padding: 5px;
}

 .footer {
   position: fixed;
   width: 100%;
   padding-bottom: 3px;
    height: 40px;
  bottom: 0;
  background-color: white;
  padding-right: 15px;
  text-align: right;
  box-sizing: border-box;
} 
