.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 50%;
}

.footer li {
  display: inline-block;
  text-align: center;
}

.footer img {
  width: 30px;
  padding: 5px;
}

 .footer {
    position: fixed;
    height: 40px;
    left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
} 
