html{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), url(./assets/fonts/HelveticaNeue.ttf) format('truetype');
}

@font-face {
  font-family: 'Shanhie';
  src: local('Shanhie'), url(./assets/fonts/Shanhie\ Free\ Version.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Shanhie';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
